# Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (82%). There also exists, a smaller, but notable proportion of female players (16%).

* Our peak age demographic falls between 20-24 (42%) with secondary groups falling between 15-19 (17.80%) and 25-29 (15.48%).

* Our players are putting in significant cash during the lifetime of their gameplay. Across all major age and gender demographics, the average purchase for a user is roughly $491.   
-----

In [39]:
# Dependencies
import pandas as pd
import numpy as np

In [40]:
# files
purchase_file = "purchase_data.json"

In [42]:
# load players data
purchase_df = pd.read_json(purchase_file, orient="records")
purchase_df.head()

,Age,Gender,Item ID,Item Name,Price,SN
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46
2,34,Male,174,Primitive Blade,2.46,Assastnya25
3,21,Male,92,Final Critic,1.36,Pheusrical25
4,23,Male,63,Stormfury Mace,1.27,Aela59

## Player Count

In [7]:
total_players = purchase_df["SN"].nunique()
total_players

573

## Purchasing Analysis (Total)

In [15]:
unique_items = purchase_df["Item ID"].nunique()
unique_items

183

In [17]:
# count purchases for Average Purchase price calc
count_purchases = purchase_df["Item ID"].count()
count_purchases

780

In [18]:
# sum of purchases for Average Purchase price calc
sum_purchases = purchase_df["Price"].sum()
sum_purchases

2286.33

In [19]:
avg_amount = sum_purchases/count_purchases
avg_amount

2.9311923076923074

In [20]:
avg_amountv2 = purchase_df["Price"].mean()
avg_amountv2

2.931192307692303

In [21]:
#Total number of purchases
count_purchases = purchase_df["Item ID"].count()
count_purchases

780

In [22]:
#Total Revenue
tot_revenue = purchase_df["Price"].sum()
tot_revenue

2286.33

In [45]:
summary_table = pd.DataFrame({"number of unique Items": [item_count],
                            "Total Revenue": [tot_revenue],
                            "Number of Purchases": [count_purchases],
                            "Average Price": [avg_amountv2]})
summary_table

   Average Price  Number of Purchases  Total Revenue  number of unique Items
0       2.931192                  780        2286.33                     183

## Gender Demographics

In [23]:
# Percentage of players
perc_players = purchase_df['Gender'].value_counts(normalize=True) * 100
perc_players

Male                     81.153846
Female                   17.435897
Other / Non-Disclosed     1.410256
Name: Gender, dtype: float64

In [24]:
# player counts
player_counts = purchase_df["Gender"].value_counts()
player_counts

Male                     633
Female                   136
Other / Non-Disclosed     11
Name: Gender, dtype: int64

In [46]:
gender_summary = pd.DataFrame({"Percentage of Players": [perc_players],
                            "Player Counts": [player_counts]})
gender_summary

,Percentage of Players,Player Counts
0,Male 81.153846 Female ...,Male 633 Female ...


## Purchasing Analysis (Gender)

In [47]:
#Purchase count
purchase_count = purchase_df["Gender"].value_counts()
purchase_count

Male                     633
Female                   136
Other / Non-Disclosed     11
Name: Gender, dtype: int64

In [51]:
gender_purchases = purchase_df.groupby(["Gender"]).sum()["Price"].rename("Total Purchase Value")
gender_average =  purchase_df.groupby(["Gender"]).mean()["Price"].rename("Average Purchase Price")
gender_counts = purchase_df.groupby(["Gender"]).count()["Price"].rename("Purchase Count")

In [52]:
#Normalized
normalized_total = gender_purchases / total_players
normalized_total

Gender
Female                   0.668255
Male                     3.259476
Other / Non-Disclosed    0.062373
Name: Total Purchase Value, dtype: float64

## Age Demographics

       Percentage of Players  Total Count
<10                     3.32           19
10-14                   4.01           23
15-19                  17.45          100
20-24                  45.20          259
25-29                  15.18           87
30-34                   8.20           47
35-39                   4.71           27
40+                     1.92           11

In [30]:
# use purchases_df
bins = [0, 10, 15, 20, 25, 30, 35, 40, 95]

# Create the names for the four bins
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

purchase_df["Summary"] = pd.cut(purchase_df["Age"], bins, labels=group_names)
purchase_df.head()

,Age,Gender,Item ID,Item Name,Price,SN,Summary
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34,35-39
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46,20-24
2,34,Male,174,Primitive Blade,2.46,Assastnya25,30-34
3,21,Male,92,Final Critic,1.36,Pheusrical25,20-24
4,23,Male,63,Stormfury Mace,1.27,Aela59,20-24

## Purchasing Analysis (Age)

,Purchase Count,Average Purchase Price,Total Purchase Value,Normalized Totals
10-14,35,$2.77,$96.95,$4.22
15-19,133,$2.91,$386.42,$3.86
20-24,336,$2.91,$978.77,$3.78
25-29,125,$2.96,$370.33,$4.26
30-34,64,$3.08,$197.25,$4.20
35-39,42,$2.84,$119.40,$4.42
40+,17,$3.16,$53.75,$4.89
<10,28,$2.98,$83.46,$4.39

## Top Spenders

             Purchase Count Average Purchase Price Total Purchase Value
SN
Undirrala66               5                  $3.41               $17.06
Saedue76                  4                  $3.39               $13.56
Mindimnya67               4                  $3.18               $12.74
Haellysu29                3                  $4.24               $12.73
Eoda93                    3                  $3.86               $11.58

## Most Popular Items

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
39,"Betrayal, Whisper of Grieving Widows",11,$2.35,$25.85
84,Arcane Gem,11,$2.23,$24.53
31,Trickster,9,$2.07,$18.63
175,Woeful Adamantite Claymore,9,$1.24,$11.16
13,Serenity,9,$1.49,$13.41

## Most Profitable Items

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
34,Retribution Axe,9,$4.14,$37.26
115,Spectral Diamond Doomblade,7,$4.25,$29.75
32,Orenmir,6,$4.95,$29.70
103,Singed Scalpel,6,$4.87,$29.22
107,"Splitter, Foe Of Subtlety",8,$3.61,$28.88