# TripData Analysis

In [1]:
# Dependencies
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [2]:
# Read in data CSV
trip_data = pd.read_csv("Resources/tripdata_q1_2018.csv")
trip_data.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,932,2018-01-01 02:06:17.5410,2018-01-01 02:21:50.0270,3183,Exchange Place,40.7162469,-74.0334588,3199,Newport Pkwy,40.7287448,-74.0321082,31929,Subscriber,1992,1
1,550,2018-01-01 12:06:18.0390,2018-01-01 12:15:28.4430,3183,Exchange Place,40.7162469,-74.0334588,3199,Newport Pkwy,40.7287448,-74.0321082,31845,Subscriber,1969,2
2,510,2018-01-01 12:06:56.9780,2018-01-01 12:15:27.8100,3183,Exchange Place,40.7162469,-74.0334588,3199,Newport Pkwy,40.7287448,-74.0321082,31708,Subscriber,1946,1
3,354,2018-01-01 14:53:10.1860,2018-01-01 14:59:05.0960,3183,Exchange Place,40.7162469,-74.0334588,3267,Morris Canal,40.7124188237569,-74.03852552175522,31697,Subscriber,1994,1
4,250,2018-01-01 17:34:30.1920,2018-01-01 17:38:40.9840,3183,Exchange Place,40.7162469,-74.0334588,3639,Harborside,40.7192517,-74.034234,31861,Subscriber,1991,1